<div class="card">
  <% if (testcase.failed > 0) {%>
  <div class="card-header" id="h2">
    <h5 class="mb-0">
      <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#s<%= moduleIndex %>ac<%= index+1 %>" aria-expanded="true" aria-controls="s<%= moduleIndex %>ac<%= index+1 %>">
        <%= testName %>
      </button>
    </h5>
  </div>
  <div id="s<%= moduleIndex %>ac<%= index+1 %>" class="collapse-show collapse show" aria-labelledby="s<%= moduleIndex %>ah<%= index+1 %>" data-bs-parent="#sessionfull-accordion">
    <div class="card-body"><pre><%
  for (var i = 0; i< assertions.length; i++) {
      if (assertions[i].failure) { %><div class="code-sessionfull-failure">✖ <%= assertions[i].message %>
<%= assertions[i].stackTrace %></div><%
      } else { %><div class="code-session-full"><span style="color:#0EDC8A">✔</span> <%= assertions[i].message %></div><%
      }
   }%></pre></div>
  </div>
  <% } else { %> 

    <div class="card-header" id="h2">
      <h5 class="mb-0">
        <button class="btn btn-link btn-collapse" data-bs-toggle="collapse" data-bs-target="#s<%= moduleIndex %>ac<%= index+1 %>" aria-expanded="false" aria-controls="s<%= moduleIndex %>ac<%= index+1 %>">
          <%= testName %>
        </button>
      </h5>
    </div>

    <div id="s<%= moduleIndex %>ac<%= index+1 %>" class="collapse" aria-labelledby="s<%= moduleIndex %>ah<%= index+1 %>" data-bs-parent="#sessionfull-accordion">
<div class="card-body"><pre>
<% for (var i=0; i< assertions.length; i++) {
  if (assertions[i].failure) {
    %><div class="code-sessionfull-failure">✖ <%= assertions[i].message %>
<%= assertions[i].stackTrace %></div><%
  } else {
  %><div class="code-session-full"><span style="color:#0EDC8A">✔</span> <%= assertions[i].message %></div><%
  }
} %></pre></div></div>
<% } %>
</div>