<% if (module.failures > 0) { %> 
  <div class="sessionbox-indicator indicator-failed sessionbox-padding">
    <div class="row">
      <div class="col-md-1">
        <div class="statusbadge statusbadge-failed">Failure</div>
      </div> 
      <% } else if(module.errors > 0) { %>
      <div class="sessionbox-indicator indicator-error sessionbox-padding">
        <div class="row">
          <div class="col-md-1">
            <div class="statusbadge statusbadge-error">Error</div>
          </div>
      <% } else { %>
  <div class="sessionbox-indicator indicator-success sessionbox-padding">
    <div class="row">
      <div class="col-md-1">
        <div class="statusbadge statusbadge-success">Success</div>
      </div>
      <% } %>
      <div class="col-md-11 separator-l">
        <div class="row sessionbox-head">
          <div class="col-md-8">
             <%= key %>
          </div>
        </div>
        <div id="tabs-s<%= moduleIndex+1 %>" class="row sessionbox-tabs">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab1" role="tablist">
                <a class="nav-item nav-link active" id="nav-s<%= moduleIndex+1 %>-t1-tab" data-bs-toggle="tab" href="#nav-s<%= moduleIndex+1 %>-t1" role="tab" aria-controls="nav-s<%= moduleIndex+1 %>-t1" aria-selected="true">Details</a>
                <a class="nav-item nav-link" id="nav-s<%= moduleIndex+1 %>-t3-tab" data-bs-toggle="tab" href="#nav-s<%= moduleIndex+1 %>-t3" role="tab" aria-controls="nav-s<%= moduleIndex+1 %>-t3" aria-selected="true">Raw HTTP Log</a>
              </div>
            </nav>

            <div class="tab-content" id="nav-tab1Content">
              <div class="tab-pane show active" id="nav-s<%= moduleIndex+1 %>-t1" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="statgroup autobox">
                      <div class="statbox autobox">
                        <div class="label-sessionfull">Status</div>
                        <div class="stat-sessionfull"><%= module.failures > 0 ? 'FAILED' : 'PASSED' %></div>
                      </div>
                    </div>
                    <div class="statgroup autobox">
                     <div class="statbox autobox">
                       <div class="label-sessionfull">Tests</div>
                       <div class="stat-sessionfull"><%= module.tests %></div>
                     </div>
                     <div class="statbox autobox">
                      <div class="label-sessionfull">Failed</div>
                      <div class="stat-sessionfull"><%= module.failures %></div>
                    </div>
                    <div class="statbox autobox">
                      <div class="label-sessionfull">Errors</div>
                      <div class="stat-sessionfull"><%= module.errors %></div>
                    </div>
                    <div class="statbox autobox">
                      <div class="label-sessionfull">Module Path</div>
                      <div class="stat-sessionfull"><%= module.modulePath %></div>
                    </div>
                    </div>
                    <div class="statgroup autobox">
                      <div class="statbox autobox">
                        <div class="label-sessionfull">Duration</div>
                        <div class="stat-sessionfull"><%= module.time %> secs</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane raw-http-log" id="nav-s<%= moduleIndex+1 %>-t3" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="row">
                  <div class="col-md-12">
                    <div class="raw-http-log code-sessionfull"><%
 for (var i = 0; i < module.httpOutput.length; i++) {
  %><div style="margin-left: -15px;margin-top: 10px; background: #0c5460"><%- module.httpOutput[i][1] %></div><div><%- module.httpOutput[i][2] %></div><% } %></div>
                  </div>
                </div>
              </div>
            
            </div>


          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="sessionfull-accordion">
            <% Object.keys(module.completed).forEach(function(item, index) {
              const testcase = module.completed[item];
              const modulePath = module.modulePath;
              const assertions = testcase.assertions; %>
                <%- include('partials/test-case', {assertions, testName: item, index, moduleIndex, testcase}) %>
              <%})%>
             <% module.skipped.forEach(function(item) { %>
               <%- include('partials/test-case-skipped', {testName: item}) %>
             <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>